---
# Dotfiles deployment tasks

- name: Ensure dotfiles directory exists
  ansible.builtin.file:
    path: "{{ dotfiles_home }}"
    state: directory
    mode: '0755'

- name: Deploy dotfiles from files directory
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}/{{ item | basename }}"
    mode: '0644'
    backup: yes
  loop: "{{ dotfiles_list }}"
  when: dotfiles_list is defined and dotfiles_list | length > 0

- name: Deploy dotfiles from templates
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ ansible_env.HOME }}/{{ item }}"
    mode: '0644'
    backup: yes
  loop: "{{ dotfiles_templates }}"
  when: dotfiles_templates is defined and dotfiles_templates | length > 0
